.modal-box {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-20%, -40%);
  width: 90vw; /* Cambiar el tamaño del modal a 80% del ancho de la ventana */
  max-width: 700px; /* Asegurarse de que no sea mayor de 600px */
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 24px;
  text-align: center;
  
}

#pd, #pd2 {
  color: rgb(77, 9, 237);
}

  
#header-DAlmun{
  background-color: rgba(31, 145, 168, 1);
  color: white;
  padding: 0px ;
  text-align: center;
  font-size: 20px;
}
#header-DAlmun h2{
  color: white;
  position: relative;
  bottom: -50px;
  
}

.image-left{
  height: 100px;
  position: relative;
}
.image-left{
  right: 300px;
  top: 120px;
  margin-bottom: 0px;
  }



.image-right{
  height: 100px;
  position: relative;
  
}
.image-right{
left: 300px;
bottom: 20px;
margin-bottom: 0px;
}
button.EditA, button.CloseA {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.EditA:hover, button.CloseA:hover {
  background-color: #ec5755;
}

button.EditA {
  background-color: rgba(31, 145, 168, 1);
}

button.EditA:hover {
  background-color: #0056b3;
}